.header {
    background-color: rgb(25, 153, 125);
    padding: 40px;
    box-shadow: 10px 10px 10px 10px rgb(251, 250, 250);
}


.footer {
    background-color: rgb(25, 153, 125);
    padding: 25px;
    box-shadow: 10px 10px 10px 10px rgb(251, 250, 250);
}

.derechos {
    font-size: 22px;
    font-weight: bolder;
}

input, select {
    cursor: pointer;
}

.error {
    border: red solid 1px;
}

.titulo {
    font-size: 40px;
    font-weight: bold;
    color: rgb(3, 162, 162);
}